.home {
  display: flex;
  color: #6c4812;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;

  min-height: 80vh;
  background-color: #f9d44f;
  margin: auto;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border: 1px solid rgba(128, 128, 128, 0.409);
}

.images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;

  /* margin-bottom: 100px; */
}
.images .card,
.images .card1 {
  display: flex;

  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f49f9f;
  height: 50vh;
  width: 40vh;
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  color: white;
  margin-bottom: 10px;
}
.images .card1 {
  background-color: azure;
  color: #f49f9f;
}

.home img {
  width: 40vh;
  height: 40vh;
}
/* .imgA {
 
} */
