@font-face {
    font-family: boldfont;
    src: url(../../Fonts/FuturaPTBold.otf);
}

@font-face {
    font-family: lightfont;
    src: url(../../Fonts/FuturaPTLight.otf);
}

.container {
    border: black 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 150px 0 150px;
}

button {
    font-family: lightfont;
    border: none;
    background-color: transparent;
    border:2px solid #858585;
    border-radius: 8px;
    color: black;
    font-size:20px;
}

button:hover {
    cursor: pointer;
    background-color: #B8B8B8;
  }

input {
    font-family: lightfont;
    border: none;
    background-color: transparent;
    border:2px solid #858585;
    border-radius: 8px;
    color: black;
    font-size:20px;
    
}

input::placeholder {
    color: black;
    justify-content: center;
}

input:focus {
    outline: none;
    
}