@font-face {
    font-family: boldfont;
    src: url(../../Fonts/FuturaPTBold.otf);
}

@font-face {
    font-family: lightfont;
    src: url(../../Fonts/FuturaPTLight.otf);
}

.Getapi button {
    font-family: lightfont;
    border: none;
    background-color: transparent;
    border:2px solid #858585;
    border-radius: 8px;
    color: black;
    font-size:20px;
}

.Getapi button:hover {
    cursor: pointer;
    background-color: #B8B8B8;
  }

.Getapi input {
    font-family: lightfont;
    border: none;
    background-color: transparent;
    border:2px solid #858585;
    border-radius: 8px;
    color: black;
    font-size:20px;
    
}

.Getapi input::placeholder {
    color: black;
    justify-content: center;
}

input:focus {
    outline: none;
    
}

.Getapi {
    padding: 5px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 150px 0 150px;
    padding-top: 20px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: 6px 4px 4px 3px rgba(0, 0, 0, 0.25);
}
