.Getapi {
  padding: 5px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  flex-direction: column;
  padding-top: 15px;
  background: white;
  height: 80vh;
  border-radius: 20px;
}

.controls {
  font-display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
