.calorie-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vh 15vw 1vh 15vw;
    background: #ffffff;
    border: 1px solid black;
    box-shadow: 6px 4px 4px 3px rgba(0, 0, 0, 0.25);
  }

  .calorie-container img {
      border-radius: 14px;
      border: 3px solid #f49f9f;
  }

  .calorie-container a:hover {
      color: #f49f9f;
      
  }

  .instructions li {
      margin: 0px;
      list-style: disc;
      text-align: left;
  }
