/* loginSignupByLee */

@font-face {
  font-family: boldfont;
  src: url(../src/Fonts/FuturaPTBold.otf);
}

@font-face {
  font-family: lightfont;
  src: url(../src/Fonts/FuturaPTLight.otf);
}

/* loginSignupByLee */

/* login signup form */

body {
  background-color: white;
}
.containerf {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: stretch;
  background-color: #f49f9f;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.containerf:hover {
  box-shadow: 0 10px 20px black, 0 6px 6px black;
}

.search-form {
  display: flex;
  justify-content: center;
  font-family: lightfont;
  height: 15vh;
  width: 120vh;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 46px;
  margin: 20px;
}

h1,
h2,
a,
recipe .button {
  font-family: lightfont;
}

.logside {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f9d44f;
  height: 100vh;
  width: 85vh;
  text-align: center;
  box-shadow: 0 1px 3px black, 0 1px 2px black;
}
.text h1,
.text h3 {
  color: #6c4812;
  margin-top: 30px;
  font-size: 35px;
  font-weight: 900;
}

.recipe-img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 60vh;
  width: 60vh;
  margin: auto;
}

.imglogin {
  width: 75vh;
  height: 75vh;
}

.form {
  border: 1px solid rgba(128, 128, 128, 0.409);
}

form {
  border: 1px solid black;

  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

  height: 100vh;
  width: 75vh;

  background-color: white;
  box-shadow: 0 19px 38px black, 0 15px 12px black;
  text-align: center;
}
form {
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  flex-wrap: wrap;
}

form h1 {
  color: #f49f9f;
  margin-bottom: 80px;
  font-size: 35px;
  font-weight: 900;
}
form p {
  color: blue;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
}
form input {
  font-size: 20px;
  width: 50vh;
  height: 7vh;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.318);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.button button {
  width: 45vh;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #f49f9f;
  color: white;
  font-size: 25px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.button button:hover {
  background-color: #f26060;
}

/* .containerf div:nth-of-type(1) {
  flex-grow: 0.2;
}
.containerf div:nth-of-type(2) {
  flex-grow: 0.2;
} */

.nav2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #6c4812;
  margin-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
.nav2 button {
  margin-left: 5px;
  padding: 5px;
  background-color: #f49f9f;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
}
.nav2 button:hover {
  background-color: #f26060;
}

@media only screen and (max-width: 1100px) {
  body {
    background-color: #f9d44f;
  }
  .logside {
    display: none;
  }

  .form input {
    margin-right: 10px;
    margin-left: 10px;
  }
  .form {
    border: 3px solid #f49f9f;
  }
}

.recipe {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  align-content: center;
  padding: 0 150px 0 150px;
  border: 2px black;
}

.recipe img {
  width: 250px;
  height: 250px;
  padding: 10px;
  border-radius: 5px;
}

.recipe button {
  font-family: lightfont;
}

.recipe-card {
  padding: 4vh 12vh 4vh 12vh;
  margin: 20px;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 46px;
}

.nutrients {
  font-family: lightfont;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 150px 0 150px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  box-shadow: 6px 4px 4px 3px rgba(0, 0, 0, 0.25);
}

.calorie-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 150px 0 150px;
  background: #ffffff;
  border: 1px solid black;
  box-shadow: 6px 4px 4px 3px rgba(0, 0, 0, 0.25);
}

.calorie-container a,
.calorie-container a:visited,
.calorie-container a:hover,
.calorie-container a:active,
.recipe a,
.recipe a:visited,
.recipe a:hover,
.recipe a:active {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.linkedin,
.github {
  font-family: lightfont;
  background-color: transparent;
  border: 2px solid #858585;
  border-radius: 8px;
  color: black;
  font-size: 15px;
  padding: 1vh;
  margin: 0.25vh;
  text-decoration: none;
}

.recipe-button,
.go-to-recipe-button {
  font-family: lightfont;
  background-color: transparent;
  border: 2px solid #858585;
  border-radius: 8px;
  color: black;
  font-size: 15px;
  padding: 2%;
  margin: 2%;
}

.linkedin:hover,
.github:hover,
.recipe-button:hover,
.go-to-recipe-button:hover {
  background-color: #f49f9f;
  color: black;
  cursor: pointer;
}

.Getapi button {
  font-family: lightfont;
  border: none;
  background-color: transparent;
  border: 2px solid #858585;
  border-radius: 8px;
  color: black;
  font-size: 20px;
}

.Getapi button:hover {
  cursor: pointer;
  background-color: #b8b8b8;
}

.Getapi input {
  font-family: lightfont;
  border: none;
  background-color: transparent;
  border: 2px solid #858585;
  border-radius: 8px;
  color: black;
  font-size: 20px;
}

.Getapi input::placeholder {
  color: black;
  justify-content: center;
}

input:focus {
  outline: none;
}

.Getapi {
  padding: 5px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 150px 0 150px;
  padding-top: 20px;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 46px;
}

.recipe-container {
  border: 1px solid black;
  box-shadow: 6px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 60vh;
  width: 100vh;
}

.recipe-container img {
  width: 300px;
}

p {
  font-family: lightfont;
}

.about-container {
  /* background: #FFFFFF; */
  /* border: 1px solid red; */
  /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); */
  /* border-radius: 46px; 
  height: 90vh; */
  display: flex;
  justify-content: center;
}

.about-container .header {
  margin: 20px;
}

/* .team-img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 30%;
  width: 30%;
  margin: auto;
} */

.job-title {
  font-size: 20px;
  text-align: center;
}

.header-container {
  /* border: 1px solid orange; */
}

.about-container .team-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 46px;
  height: 55vh;
  width: 25vh;
  padding: 10px 150px 10px 150px;
  margin: 20px;
}

.team-card-container {
  /* border: 1px solid pink; */
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  top: 25%;
}

li {
  font-family: lightfont;
  list-style-type: none;
}
